
<div class="page-title">
     <h1>Nouveau contrat</h1>
</div>
<div class="contracts-section">
     <div class="container">
          
         <div class="row application">
              
              <div class="contract-folders">
                <a routerLink="/contrats-de-location-annuelle">
                <div class="a-1">
                     <img [src]="'assets/images/folder-ico.png'" />
                      <h3>Contrats de
                        location annuelle </h3>
                </div>
                </a>
                 
              </div>
              <div class="contract-folders">
                <a routerLink="/contrats-premium">
                <div class="a-1">
                     <img [src]="'assets/images/folder-ico.png'" />
                      <h3>Contrats Premium</h3>
                </div>
                </a>
                 
              </div>
              <div class="contract-folders">
                <a href="#">
                <div class="a-1">
                     <img [src]="'assets/images/folder-ico.png'" />
                     <h3>Contrats de location
                          saisonnières </h3>
                      
                </div>
                </a>
                 
              </div>

               <div class="contract-folders">
                <a href="#">
                <div class="a-1">
                     <img [src]="'assets/images/folder-ico.png'" />
                      <h3>Abonnements GPRS et
                      ADSL avec et sans ATT</h3>
                </div>
                </a>                 
              </div>
               
         </div>
          <button class="back-btn" (click)="back()"> < retourner</button>
    </div>
</div>