<div class="nav-menu">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
         
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a routerLink="/">Home</a></li>
            <li><a routerLink="/contrats-de-location-annuelle">Contrats annuels  </a></li>
            <li><a href="#">Contrats full services</a></li> 
            <li><a href="#">Contrats saisonniers et ponctuels  </a></li>
            <li><a href="#">Contrats d'abonnements GPRS et ADSL </a></li> 
          </ul>
          
        </div>
      </div>
    </nav>
</div>
<div class="page-title">
     <h1>Nouveau contrat</h1>
</div>
<div class="contracts-section">
     <div class="container">
          
         <div class="row application">
              
              <div class="contract-folders">
                <a routerLink="/contrats-de-location-annuelle">
                <div class="a-1">
                     <img [src]="'assets/images/folder-ico.png'" />
                      <h3>Contrats de
                        location annuelle </h3>
                </div>
                </a>
                 
              </div>
              <div class="contract-folders">
                <a routerLink="/contrats-premium">
                <div class="a-1">
                     <img [src]="'assets/images/folder-ico.png'" />
                      <h3>Contrats Premium</h3>
                </div>
                </a>
                 
              </div>
              <div class="contract-folders">
                <a href="#">
                <div class="a-1">
                     <img [src]="'assets/images/folder-ico.png'" />
                     <h3>Contrats de location
                          saisonnières </h3>
                      
                </div>
                </a>
                 
              </div>

               <div class="contract-folders">
                <a href="#">
                <div class="a-1">
                     <img [src]="'assets/images/folder-ico.png'" />
                      <h3>Abonnements GPRS et
                      ADSL avec et sans ATT</h3>
                </div>
                </a>                 
              </div>
               
         </div>
          <button class="back-btn" (click)="back()"> < retourner</button>
    </div>
</div>