<div class="page-title">
     <h1>Contrats Premium</h1>
</div>
<div class="contracts-section">
     <div class="container">
          
         <div class="row application">
              
              <div class="contract-folders">
                <a routerLink="/contrats-premium-adsl">
                <div class="a-1">
                     <img [src]="'assets/images/folder-ico.png'" />
                      <h3> TPL ADSL </h3>
                </div>
                </a>
                 
              </div>
              <div class="contract-folders">
                <a routerLink="/contrats-premium-gprs">
                <div class="a-1">
                     <img [src]="'assets/images/folder-ico.png'" />
                      <h3> TPE GPRS </h3>
                </div>
                </a>
                 
              </div>
               
         </div>
          <button class="back-btn" (click)="back()">< retourner</button>
    </div>
</div>