	 
		<div class="banner">
              <h1>À VOTRE SERVICE</h1>
              <h2>tous les jours</h2>
              <p>WEB Monétique vous permet de compléter votre demande de location en ligne.<br> Inutile d’imprimer le contrat, le compléter, le scanner et nous le retourner par mail !</p>
		</div>
		<div class="how-to">
             <div class="container">
                  <div class="row">
                      <h3>Comment faire ?</h3>
                      <div class="col-md-3 col-lg-3">
                          <img [src]="'assets/css/pdf-ico.png'">
                          <p>Choisissez votre contrat annuel, 
                            ponctuel ou saisonnier</p>
                      </div>
                      <div class="col-md-3 col-lg-3">
                          <img [src]="'assets/css/doc-ico.png'">
                          <p>Après l’avoir sélectionné, remplissez les champs en direct. Ceux munis d’un astérisque sont obligatoires.
Après l’avoir signé, validez-le.</p>
                      </div>
                      <div class="col-md-3 col-lg-3">   
                          <img [src]="'assets/css/cal-ico.png'">
                          <p>Nous sommes automatiquement informés de votre demande de location. Nous la vérifions et s’assurons de la disponibilité du matériel.</p>
                      </div>
                      <div class="col-md-3 col-lg-3">
                      	   <img [src]="'assets/css/email-ico.png'">
                          <p>Un mail de confirmation vous est adressé. Attention sans ce mail de confirmation, votre commande n’est pas validée.</p>
                      </div>
                 </div>
                 <div class="row application">
                      <div class="col-md-6 col-lg-6">
                      	<div class="a-1">
                      	      <h4 class="m-top-50 ">Première demande</h4>
                              <a routerLink="/première-demande">Procéder</a>
                      	</div>
                         
                      </div>
                      <div class="col-md-6 col-lg-6">
                      	<div class="a-1">
                             <h4>Vous êtes déjà client<br>
                               chez WEB Monétique</h4>
                              <a routerLink="/existing-customer-contracts">Procéder</a>
                      	</div>

                      </div>
                 </div>
		    </div>
		</div>
		